*{
  box-sizing: border-box;
}
img{
  pointer-events: none;
}
body{
  background-color: rgb(99, 99, 118);
}

.container {
  min-width: 1200px;
  height: 100vh;
  padding: 0 25px;
  /* margin: 0 auto; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}
.slider-block{
  padding: 0 30px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.slider-list {
  width: 500px;
  height: 300px;
  /* border: 10px solid blue; */
  display: flex;
  overflow: hidden;
  /* box-shadow: 50px 10px 200px black; */
  
}

.slide-single {
  width: 500px;
  height: 300px;
  /* padding-right: 40px; */
/* padding-left: 12px; */
  object-fit: contain;
  /* border: 1px solid red; */
  position: absolute;
  background: white;


}
.slider {
  padding: 25px;
  display: flex;
  /* border: 1px solid red; */
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.slider-track {
  width: 6000px;
  display: flex;
  align-items: center;
  position: relative;
}
.btn{
  display: flex;
}
.input-block {
  position: absolute;
  width: 300px;
  top: 10%;
  left: 40%;
  right: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dots-check{
  position: absolute;
  left: 41%;
  top: 80%;
}
.btn{
  opacity: 1;
}
.btn:hover{
  transform: scale(1.3);
}
.btn:active{
  opacity: .5;
}